<form>
	<div>
		
		<div>Enter Questions: <input type="text" id="createQuestion" size="100" value="" ng-model="question" /></div>
		<optional-Answers value="optionalAnswer"></optional-Answers> {{optionalAnswer}}
		<optional-Answers value="optionalAnswer"></optional-Answers> {{optionalAnswer}}
		<optional-Answers value="optionalAnswer"></optional-Answers> {{optionalAnswer}}
		<optional-Answers value="optionalAnswer"></optional-Answers> {{optionalAnswer}}
	</div>
	<div>
		<button type="submit" ng-click="createQuestions()">Create Question</button>
	</div>

</form>