
<div>Answers - 
	<span>
		<input type="text" id="answers"  ng-model="value" size="75" />
	</span>
</div>

<!-- <select name="multipleAnswers" id="multipleAnswers_1">
	<option value="0">Undefined</option>
	<option value="1">TypeError</option>
	<option value="2">SyntaxError</option>
	<option value="3">ReferenceError</option>
	<option value="4">Object</option>
	<option value="5">Array</option>
	<option value="6">null</option>
	<option value="7">foo</option>
	<option value="8">true</option>
	<option value="9">false</option>
	<option value="10">Other</option><input type="text" name="otherAnswer_1" id="otherAnswer_1" style='display:none;'/>
</select>
 -->